.swiper-container.swiper-2 {
    padding: 9px 10px;
}

.swiper-2 .swiper-button-prev,
.swiper-button-next {
    top: 15% !important;
}

.swiper-2 .swiper-button-next {
    right: 28px;
}

.swiper-2 .swiper-button-prev {
    right: 67px;
    left: auto;
}

@media (max-width: 520px) {

    .swiper-2 .swiper-button-prev,
    .swiper-button-next {
        top: 9% !important;
    }
}